.container_arrow_button_project_up {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    width: 50%;
    margin-left: 40rem;
}

#arrow_button_project_up:hover img{
    width: 120px;
    height: 120px;
}

#arrow_button_project_up img {
    transform: rotate(180deg);
    transition: 0.2s;
    transition-delay: 0.1s
}

.container_projects {
    display: flex;
    flex-direction: row;

    height: 85vh;
}

.container_projects h1 {
    font-family: CaviarDreams;
    font-size: 10vh;
}

.container_projects_01 {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    margin-left: 6rem;
}

.container_projects_02 {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin-right: 6rem;
}

#button_project01, #button_project02 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    border: none;
}