#container_project {
    background-color: #F9F0E3;
    display: flex;
    justify-content: center;
    height: 100vh;
}

#container_project h1 {
    font-family: 'Neogen';
    font-size: 10vh;
    padding-top: 2vh;
}

#arrow_button_home_up {
    background-color: #F9F0E3;
    border: none;
}

#arrow_button_home_up img {
    transform: rotate(180deg);
    transition: 0.2s;
    transition-delay: 0.1s
}

#arrow_button_home_up:hover img{
    width: 150px;
    height: 150px;
}

#container_home_arrowup {
    display: flex;
    justify-content: center;

}