<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" >
    <script src="../static/js/script.js" defer></script>
</head>

<body>
    <div class="navbar-div">
        <navbar class="navbar">
            <div class="nav-container">
                <a href>Home</a>
                <a href>Projetos</a>
                <a href>Sobre mim</a>
                <a href>Contato</a>
            </div>
        </navbar>
    </div>

    <div class="container-fluid" id="container_home">
        <h1>Portfólio de Braian Baron</h1>
        <div class="container-fluid" id="container_home_p">
            <p>Inspiração:</p>
            <a href="https://nobl.io">nobl.io</a>
        </div>
        <button type="button" id="arrow_button_home">
            <img src="../static/img/arrow_down.png" width="100", height="100">
        </button>
    </div>
</body>
</html>