<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/projects.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" >
</head>
<body>
    <div class="container_arrow_button_project_up">
        <button type="button" id="arrow_button_project_up" style="border: none;">
            <img src="../static/img/arrow_down.png" width="100", height="100">
        </button>
        <h2>Página inicial</h2>
    </div>

    <div class="container_projects">
        <div class="container_projects_01">
            <button type="button" id="button_project01">
                <img src="../static/img/project01_img.png" width="450", height="300">
            </button>
            <h2>Ant Simulator</h2>
            <p>Python Arcade</p>
        </div>

        <div class="container_projects_02" style="padding-left: 10rem;">
            <button type="button" id="button_project02">
                <img src="../static/img/project02_img.png" width="650" height="350">
            </button>
            <h2>Discovering Math</h2>
            <p>Python, HTML and CSS</p>
        </div>
    </div>
</body>
</html>